<h1>About Bloccit</h1>
<p>Created by: Me</p>
<!--<a href="https://www.facebook.com/hillary.feller" class="social-btn">Button</a>-->
<%= link_to "My facebook", "https://www.facebook.com/hillary.feller", class: "social-btn" %>
