.social-btn{
  display: block;
  height: 50px;
  width: 150px;
  padding: 10px 20px 20px 20px;
  background: #33D6AD;
  border: 5px solid black;
  font-family: Times;
  text-align: center;;
  margin: 10px 10px 10px 10px;

}
